# Visual Studio files and directories
.vs/
.vscode/
x64/
WindowsProject1/x64/Debug
Debug/
Release/
*.aps
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build results
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib

# Resource files (you might want to keep these)
# *.ico
# *.rc
# Resource.h

# Precompiled headers
*.pch
